body
  font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !important

.hero
  img
    max-width 100%

.clearfix
  &:after
    content ""
    display table
    clear both

.pika-single
  table, thead, tbody, tr, td, th, abbr
    margin 0 !important
    padding 0 !important
    border 0 !important
    font-size 100% !important
    vertical-align baseline !important

  table
    border-collapse collapse !important
    border-spacing 0 !important
    display table !important

  abbr
    cursor pointer !important
    font-weight 400
    text-decoration none

.theme-default-content
  input
    cursor text
    width 10rem
    color #4e6e8e
    display inline-block
    border 1px solid #cfd4db
    border-radius 2rem
    font-size 0.9rem
    line-height 2rem
    padding 0 1rem
    outline none
    transition all 0.2s ease

    &:focus
      cursor auto
      border-color #3eaf7c

  button
    cursor pointer
    width 5rem
    display inline-block
    border 1px solid #cfd4db
    border-radius 2rem
    font-size 0.9rem
    line-height 2rem
    padding 0 1rem
    margin 0 1rem
    outline none
    transition all 0.2s ease

    &:hover
      border-color #3eaf7c

  .example
    padding 2rem 0


    pre
      margin 2rem 0 0
      padding 1rem
      background-color rgba(27,31,35,0.05)
      border-radius 6px

      code
        color #476582
        padding 0.25rem 0.5rem
        margin 0
        font-size 0.85em

.mw-100
  min-width 100px

.sidebar-heading
  display none

.sidebar-group a.sidebar-link
  padding-left 1rem
